# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
QnA
# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
quick.js

# Metro
.metro-health-check*
*.rest
# debug
npm-debug.*
yarn-debug.*
yarn-error.*
# macOS
.DS_Store
*.pem

# local env files
*.env
*.local
local.properties
# typescript
*.tsbuildinfo
secret.ts
data/slang_list.json
dump.json
request.dump.json
%ProgramData%/Microsoft/Windows/UUS/State/_active.uusver
